.homeWrapperInner{
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .image{
      width: 25vw;
      min-width: 20vw;
      border-radius: 45px 15px 45px 15px;
      transform: skewX(-5deg);
    }
  }
  .homeWrapperOuter{
    width: 50vw;
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 45px;
    font-weight: 700;
    font-family: var(--secondary-font);
  }
  
  .smallTitle {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
    margin-top: 25px;
    
  }
  
  .aboutIcons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .aboutItems{
      width: 25vw;
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0 0 7vh 0;
      border-bottom: 3px solid #f4f4f5;
    }
  }



.socialsList{
  margin: 10px 25px 0 0 ;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  &:first-child{
    padding: 0;
  }
  .link{
    
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: var(--secondary-color);
  }
  .socials{
    width: 30px;
}

}



  