.wrapper{
  width: 100%;
  background: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapperOuter{
  border: 1px solid #f4f4f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
}
.innerWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 80vw;
  background: #FFFFFF;
}
.content{
  display: flex;
  flex-direction: column;
  width: 80vw;
  background: #FFFFFF;
  flex: 1 1 auto;
  min-height: auto;
  justify-content: center;
}