
*{
  box-sizing: border-box;
  font-family: "Heebo", "Roboto", 'sans-serif';
}
html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
p{
  padding: 0;
  margin: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
